:root {
    --el-color-primary: #FA7872;
    --el-color-danger: #F53C3C;
    --el-color-primary-light-3: #fb938e;
    --el-color-primary-light-5: #fdc9c7;
    --el-color-primary-light-7: #fed7d5;
    --el-color-primary-light-8: #fff2f1;
    --el-color-primary-light-9: #fff2f1;
}